@model EmployeeViewModel
@inject IUnitOfWork UnitOfWork
@{
    var departments = new SelectList(await UnitOfWork.DepartmentRepository.GetAll(), "Id", "Name");
}

<div asp-validation-summary="All"></div>
<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input class="form-control" asp-for="Name"/>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Salary"></label>
    <input class="form-control" asp-for="Salary"/>
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input class="form-control" asp-for="PhoneNumber"/>
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input class="form-control" asp-for="Email"/>
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

<br />
<div class="form-group">
    <label class="col-form-label" asp-for="Department"></label>
    <select class="form-control" asp-items="@departments" asp-for="DepartmentId">
        <option value="@null">------Select Department------</option>
    </select>
</div>


<br />
<br />
