@model EmployeeViewModel
@inject IUnitOfWork UnitOfWork
@{
    var departments = new SelectList(await UnitOfWork.DepartmentRepository.GetAll(), "Id", "Name");
}
<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input class="form-control" asp-for="Name" readonly />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Salary"></label>
    <input class="form-control" asp-for="Salary" readonly />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input class="form-control" asp-for="PhoneNumber" readonly />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input class="form-control" asp-for="Email" readonly />
</div>

<br />
<div class="form-group">
    <label class="col-form-label" asp-for="Department"></label>
    <input class="form-control" asp-for="Department.Name" readonly />
</div>

<br />
<br />