@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<div class="Container">

    <h1>This Is A Simple Online Management System For HR</h1>
    <br />

    <div class="Thebtns">
        <a asp-controller="Department" asp-action="Create" class="btn btn-outline-success">Create New Department</a>
        <a asp-controller="Employee" asp-action="Create" class="btn btn-outline-success">Add New Employee</a>
        <a asp-controller="Project" asp-action="Create" class="btn btn-outline-success">Create New Project</a>
        <a asp-controller="Work" asp-action="Create" class="btn btn-outline-success">Employee Work On Which Project</a>
    </div>
</div>