@model EmployeeViewModel
@{
    ViewData["Title"] = "Details";
}
<h1>Details Of Employees</h1>
<br />
<br />
<form asp-action="Details">
    <partial name="PartialViews/DetailsDeletePartial" />
    <a asp-action="Index" class="btn btn-outline-success">Back To List</a>
</form>
